<div class="container-fluid">
    <div class="jumbotron">
        <h1>News Catcher
            <small>
                <i class="fab fa-android"></i>
                <em>Android Edition</em>
            </small>
        </h1>
        <button type="button" class="btn btn-secondary" id="btnGetArticles">Get Articles</button>
    </div>
    <p>This is the Handlebars home page.</p>
    <div class="container" id="resultsArea">
        
    </div>
</div>
